/*      CSS admin  */
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html{
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

body {
	height: 100vh; 
	width: 100vw;
	height:auto;
	position:relative;
	margin:0;
	background-color:#f2f2f2;
	color: rgb(73,73,73);
	font-size: 0.75rem;
}

.clearfix {
	overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* grid */
[class^="col-"] {
	float:left;	
}
.col-1 {
	width: 8.333333333%
}
.col-2 {
	width: 16.66666667%
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.3333333%;
}
.col-5 {
	width: 41.66666667%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33333333%;
}
.col-8 {
	width: 66.66666667%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33333333%;
}
.col-11 {
	width: 91.66666667%;
}
.col-12 {
	width: 100%;
}

@media only screen and (min-width:800px) {
	.w3-dropdown-content {
		right:5px;
	}
	.col-md-1 {
	width: 8.333333333%
	}
	.col-md-2 {
		width: 16.66666667%
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 33.3333333%;
	}
	.col-md-5 {
		width: 41.66666667%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-7 {
		width: 58.33333333%;
	}
	.col-md-8 {
		width: 66.66666667%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-10 {
		width: 83.33333333%;
	}
	.col-md-11 {
		width: 91.66666667%;
	}
	.col-md-12 {
		width: 100%;
	}
}

@media only screen and (min-width:992px) {
	.side {
	height:100%;
	}
	
	.col-lg-1 {
	width: 8.333333333%
	}
	.col-lg-2 {
		width: 16.66666667%
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-4 {
		width: 33.3333333%;
	}
	.col-lg-5 {
		width: 41.66666667%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-7 {
		width: 58.33333333%;
	}
	.col-lg-8 {
		width: 66.66666667%;
	}
	.col-lg-9 {
		width: 75%;
	}
	.col-lg-10 {
		width: 83.33333333%;
	}
	.col-lg-11 {
		width: 91.66666667%;
	}
	.col-lg-12 {
		width: 100%;
	}
}

@media only screen and (min-width:1200px) {
	.side {
	height:100%;
	}
	.col-xl-1 {
	width: 8.333333333%
	}
	.col-xl-2 {
		width: 16.66666667%
	}
	.col-xl-3 {
		width: 25%;
	}
	.col-xl-4 {
		width: 33.3333333%;
	}
	.col-xl-5 {
		width: 41.66666667%;
	}
	.col-xl-6 {
		width: 50%;
	}
	.col-xl-7 {
		width: 58.33333333%;
	}
	.col-xl-8 {
		width: 66.66666667%;
	}
	.col-xl-9 {
		width: 75%;
	}
	.col-xl-10 {
		width: 83.33333333%;
	}
	.col-xl-11 {
		width: 91.66666667%;
	}
	.col-xl-12 {
		width: 100%;
	}
}

.side {
	height:auto;
	padding: 10px 30px;
	
}

li {
	list-style:none;
}

.dropdwn {
	position:absolute;
	top:10px;
	right:10px;
	background-color:#f2f2f2;
	font-size:11px;
}

.dropdwn-hv {
	border:1px solid white;
	border-radius:5px;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
}

.w3-dropdown-content button, .w3-dropdown-content a{
	font-size:9px;
	display:block;
	text-align:left;
	color: rgb(125,125,125);
	font-family: "Montserrat";
	font-weight: 400;
	width:100%;
	border:none;
	background-color:white;
	padding:8px 0;
	padding-left:17px;
	text-transform:uppercase;
}


.w3-dropdown-content button:hover{
	background-color:#f2f2f2;
}
.w3-dropdown-content a:hover {
	text-decoration:none;
}

.w3-button i {
	color: rgb(73,73,73);
	width:3px;
}

.side header {
	width:100%;
	height: 45px;
	margin-bottom:30px;
}

.side header img {
	height: 100%;
	width:auto;
	float:left;
	margin-right:20px;
}
.side header h2{
	font-weight: bold;
	padding-top:10px;
	margin-bottom:0;
}

.side header p{
	
	
}

.side .Jsearch {
	width:75%;
	float:left;
	height: 25px;
	font-size: 0.56rem;
	letter-spacing: 0px;
	line-height: 13px;
	color: rgb(78,78,78);
	font-weight: 300;
	border-bottom: solid 1px #dbe1e5;
	position:relative;
}

.Jsearch input {
	display:block-inline;
	border:none;
	background-color:#f2f2f2;
	padding: 5px ;
	font-size: 0.56rem;
	width:85%;
}

.Jsearch i {
	position:absolute;
	right: -30px;
	top:0;
	padding:5px;
}
.side .Jfilter {
	width:25%;
	float:left;
	font-size: 0.56rem;
	line-height: 13px;
	color: rgb(78,78,78);
	font-weight: bold;
	text-transform:uppercase;
	text-align:right;
	
}

.Jfilter i {
	padding-left:13px;
	font-size: 0.56rem;
}

.side article {
	margin:5px 0;
}

.project, .side {
	font-size: 0.75rem;
}

.project {
	height: auto;
	border-radius: 5px;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
	background-color: #ffffff;
	color: rgb(125,125,125);
	margin: 10px 0;
	padding: 15px 10px;
	text-align: left;
}

.project a, .project span {
	text-decoration:none;
	display:block-inline;
}

.project a:hover {
	color: rgb(166,166,166);

}

.project p {
	text-transform: uppercase;
	font-weight:bold;
	margin:0;
}

.project p span {
	text-transform: capitalize;
	font-weight:normal;
}

.projects table {
	width:100%;
}

.Jmain {
	border-left: 2px solid #dbe1e5;
	font-size:0.75rem;
	padding: 20px;
}

.btn {
	font-size:0.75rem;
}

form {
	height:100%;
}
#td1{
	text-align:center;
}
.load-ajax-modal {
	padding:7px 0;
	border-radius:3px;
	border: 1px solid #ccc;
	background-color:inherit;
	width:100px;
	text-transform: uppercase;
	font-size: 0.56rem;
	color: rgb(125,125,125);
	font-weight: bold;
	text-transform:uppercase;
}

.Jproj td input {
	border:none;
	background-color:inherit;
	padding: 5px 0;
}

.addUser h2 {
	padding: 10px 0;
}

.addUser > button, .addUser > a {
	font-size: 0.56rem;
	color: rgb(125,125,125);
	font-weight: bold;
	text-transform:uppercase;
	float:right;
	width: 146px;
	height: 35px;
	border-radius: 3px;
	background-color: #f2f2f2;
	border: 1px solid #7d7d7d;
	margin-left:10px;
	padding: 10px 0;
    text-align: center;
}
.addUser button a{
	width:100%;
	height:100%;
	display:block;
	padding: 10px 0;
	text-decoration:none;
}

.activ {
	padding: 2px;
    margin: 0;
    width: 100%;
    float: left;
}

.load-ajax-modal i {
	padding-right:5px;
}