/*      CSS admin  */
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html{
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

body {
	height: 100vh; 
	width: 100vw;
	height:auto;
	position:relative;
	margin:0;
	background-color:#f2f2f2;
	color: rgb(73,73,73);
	font-size: 0.75rem;
}

.clearfix {
	overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* grid */
[class^="col-"] {
	float:left;	
}
.col-1 {
	width: 8.333333333%
}
.col-2 {
	width: 16.66666667%
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.3333333%;
}
.col-5 {
	width: 41.66666667%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33333333%;
}
.col-8 {
	width: 66.66666667%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33333333%;
}
.col-11 {
	width: 91.66666667%;
}
.col-12 {
	width: 100%;
}

@media only screen and (min-width:800px) {
	.w3-dropdown-content {
		right:5px;
	}
	.col-md-1 {
	width: 8.333333333%
	}
	.col-md-2 {
		width: 16.66666667%
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 33.3333333%;
	}
	.col-md-5 {
		width: 41.66666667%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-7 {
		width: 58.33333333%;
	}
	.col-md-8 {
		width: 66.66666667%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-10 {
		width: 83.33333333%;
	}
	.col-md-11 {
		width: 91.66666667%;
	}
	.col-md-12 {
		width: 100%;
	}
	.side {
		height: auto;
	}
}

@media only screen and (min-width:992px) {
	.side {
	height:100%;
	}
	
	.col-lg-1 {
	width: 8.333333333%
	}
	.col-lg-2 {
		width: 16.66666667%
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-4 {
		width: 33.3333333%;
	}
	.col-lg-5 {
		width: 41.66666667%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-7 {
		width: 58.33333333%;
	}
	.col-lg-8 {
		width: 66.66666667%;
	}
	.col-lg-9 {
		width: 75%;
	}
	.col-lg-10 {
		width: 83.33333333%;
	}
	.col-lg-11 {
		width: 91.66666667%;
	}
	.col-lg-12 {
		width: 100%;
	}
}

@media only screen and (min-width:1200px) {
	.side {
	height:100%;
	}
	.col-xl-1 {
	width: 8.333333333%
	}
	.col-xl-2 {
		width: 16.66666667%
	}
	.col-xl-3 {
		width: 25%;
	}
	.col-xl-4 {
		width: 33.3333333%;
	}
	.col-xl-5 {
		width: 41.66666667%;
	}
	.col-xl-6 {
		width: 50%;
	}
	.col-xl-7 {
		width: 58.33333333%;
	}
	.col-xl-8 {
		width: 66.66666667%;
	}
	.col-xl-9 {
		width: 75%;
	}
	.col-xl-10 {
		width: 83.33333333%;
	}
	.col-xl-11 {
		width: 91.66666667%;
	}
	.col-xl-12 {
		width: 100%;
	}
}

.side {
	height:100%;
	padding: 10px 30px;
}

li {
	list-style:none;
}

table {
	width:100%;
}
.dropdwn {
	position:absolute;
	top:10px;
	right:10px;
	background-color:#f2f2f2;
	font-size:11px;
	float: right;
}

.dropdwn-hv {
	border:1px solid white;
	border-radius:5px;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
	right:0;
}

.w3-dropdown-content button, .w3-dropdown-content a{
	font-size:9px;
	display:block;
	text-align:left;
	color: rgb(125,125,125);
	font-family: "Montserrat";
	font-weight: 400;
	width:100%;
	border:none;
	background-color:white;
	padding:8px 0;
	padding-left:17px;
	text-transform:uppercase;
}


.w3-dropdown-content button:hover{
	background-color:#f2f2f2;
}
.w3-dropdown-content a:hover {
	text-decoration:none;
}

.w3-button i {
	color: rgb(73,73,73);
	width:3px;
}

.side header {
	width:100%;
	height: 45px;
	margin-bottom:30px;
}

.side header img {
	height: 100%;
	width:auto;
	float:left;
	margin-right:20px;
}
.side header h2{
	font-weight: bold;
	margin-bottom:0;
}

.side .Jsearch{
	width:75%;
	float:left;
	height: 25px;
	font-size: 0.56rem;
	letter-spacing: 0px;
	line-height: 13px;
	color: rgb(78,78,78);
	font-weight: 300;
	border-bottom: solid 1px #dbe1e5;
	position:relative;
}

.Jsearch2{
	float:right;
	position:absolute;
	top:12px;
	right:50px;
}

.Jsearch2 #myInput {
	background-color:rgba(242, 242, 242,0);
	border:none;
	position:absolute;
	right:0;
	top:0;
	z-index:1;
	padding:5px;
}

.Jsearch2 i{
	position:absolute;
	right:5px;
	top:7px;
	cursor:pointer;
}


.Jsearch input {
	display:inline-block;
	border:none;
	background-color:#f2f2f2;
	padding: 5px 25px;
	font-size: 10px;
	width:100%;
	color: rgb(78,78,78);
	font-weight: 300;
	position: relative;
    left: 0;
	top:0;
}

.Jsearch i {
	position:absolute;
	left:0;
	bottom: 5px;
	font-size: 15px;
	color: rgb(78,78,78);
}

.side .Jfilter {
	width:25%;
	float:left;
	font-size: 10px;
	line-height: 25px;
	color: rgb(78,78,78);
	font-weight: bold;
	text-transform:uppercase;
	text-align:right;
}
.Jfilter p {
	display:inline;
	width:80%;
}
.Jfilter i {
	padding-left:5px;
	font-size: 0.56rem;
	font-size: 15px;
	text-align:left;
}

.side article {
	margin:5px 0;
}

.project, .side {
	font-size: 0.75rem;
}

.project {
	height: auto;
	border-radius: 5px;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
	background-color: #ffffff;
	color: rgb(125,125,125);
	margin: 10px 0;
	padding: 15px 10px;
	text-align: left;
}

.project a, .project span {
	text-decoration:none;
	display:block-inline;

}

.project a:hover {
	color: rgb(166,166,166);

}

.project p {
	text-transform: uppercase;
	font-weight:bold;
	margin:0;
}

.project p span {
	text-transform: capitalize;
	font-weight:normal;
}

.projects table {
	width:100%;
}

.Jmain {
	font-size:0.75rem;
	padding: 25px 50px 20px 30px;
	border-left: 2px solid #dbe1e5;
}

.btn {
	font-size:0.75rem;
}

form {
	height:100%;
	cursor: default;
}

#td1{
	text-align:center;
}

.load-ajax-modal {
	padding:2px 0;
	border-radius:3px;
	border: 1px solid #ccc;
	background-color:inherit;

	text-transform: uppercase;
	font-size: 0.56rem;
	color: rgb(125,125,125);
	font-weight: bold;
}

#td1 .load-ajax-modal {
	padding: 7px 15px;
}
.ProjIndex #td1 .load-ajax-modal {
	padding: 7px 0;
}
.Jproj td input {
	border:none;
	background-color:inherit;
	padding: 5px 0;
}

.addUser h2 {
	padding: 10px 0;
}

.addUser > button, .addUser > a {
	font-size: 0.62rem;
	color: rgb(125,125,125);
	font-weight: bold;
	text-transform:uppercase;
	float:right;
	width: 146px;
	height: 35px;
	border-radius: 3px;
	background-color: #f2f2f2;
	border: 1px solid #7d7d7d;
	margin:10px;
	padding: 10px 0;
    text-align: center;
}
.addUser button a{
	width:100%;
	height:100%;
	display:block;
	padding: 10px 0;
	text-decoration:none;
}

.activ {
	padding: 2px;
    margin: 0;
    width: 100%;
    float: left;
}

.load-ajax-modal i {
	padding-right:15px;
	display: inline;
}

/**************************  Tab - administrator, admin page ************************/
/* Style the tab */
.projects .tab {
    width: 100%;
	overflow: hidden;
    border-bottom: 2px solid #dbe1e5;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
	color: rgb(125,125,125);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 10px;
	font-weight: 600;
	width: 25%;
	line-height: 30px;
	text-transform:uppercase;
	margin: 5px 0;
	
}

/* Style the tab content */
.side .tabcontent {
    display: none;
    padding: 15px 25px;
    border-top: none;
	font-size: 12px;
	color: rgb(125,125,125);
	font-family: "Montserrat";
	height:100%;
}

.side .tabcontent h5 {
	font-size: 15px;
	line-height: 13px;
	font-weight: 600;
}

.tablinks a{
	padding: 0;
    display: inline-block;
    width: 100%;
}

table.dataTable.display tbody .client1 td:not(:nth-child(2)), .user , .projekti, .role {
	box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

table.dataTable.display tbody tr td:not(:first-child) {
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	position: relative;
}

table.dataTable.display tbody tr{
	position: relative;
}

table.dataTable.display tbody tr td:first-child {
	border: none;
}

table.dataTable.stripe tbody tr, table.dataTable.display tbody tr.odd, table.dataTable.stripe tbody tr.even, table.dataTable.display tbody tr.even, table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1,table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1  {
    background-color: white;
}

table.dataTable.display tbody .user td:first-child {
	background-color: #f2f2f2;
	border:none;
}
 
table.dataTable.display tbody .user td:nth-child(2), .client1 td:first-child, .client1 td:nth-child(3), table.dataTable.display tbody .projekti td:first-child, table.dataTable.display tbody .ormari td:first-child {
	border: 1px solid white;
	border-radius: 5px 0 0 5px;
}

table.dataTable.display tbody .user td:last-child, table.dataTable.display tbody .client1 td:last-child, table.dataTable.display tbody .projekti td:last-child, table.dataTable.display tbody .ormari td:last-child {
	border: 1px solid white;
	border-radius: 0 5px 5px 0;
}

table.dataTable.display tbody .client1 td:first-child {
	border: 1px solid white;
	border-radius:5px;
}

table.dataTable.display tbody .client1 td:nth-child(2) {
	border: 1px solid #f2f2f2;
	width: 20px;
	background-color: #f2f2f2;
    margin: 0;
	border:none;
	border-radius:0;
}

#table_id{
	border-collapse: separate;
    border-spacing: 0 20px;
	border-bottom: 1px solid #ccc;
}

.#myTable img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.table-responsive {
    padding: 10px;
}

/*vertical line */
.vl {
    width: 1px;
	height: 41px;
	background-color: #dbe1e5;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
	display:inline;
	border:none;
}

.dataTables_filter input{
	background-color:#f2f2f2;
	border: 1px solid #e6e6e6;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate{
	color:rgb(125,125,125);
}

.client1 td:not(:nth-child(2)) {
	width: 20%;
}

.user td:not(:first-child), .projekti td:not(:first-child) {
	width: 18%;
}

.user td:last-child, .ormari td:first-child {
	position:relative;
}
table.dataTable thead .sorting{
	text-align:center;
}

.alert{
	color: white;
	line-height:20px;
	padding:10px;
	border: 1px solid #d6e9c6;
	border-radius:5px;
}

td, input {
	word-wrap: break-word;
}

.clickable-row{
	cursor:pointer;
}

.addEnc i {
	font-size:16px;
	top:50%;
	
	transform: translateY(-50%);
}
/* SLIDER */
.slidecontainer {
    height: 100%;
	width:5px;
	float:right;
}

.slider {
    -webkit-appearance: none;
    height: 100%;
	width:5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 5px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
}

@media only screen and (max-width: 411px) {
	.project, .side {
		font-size: 0.68rem;
		height: auto;
		
	}
	.client  tbody .client1 td:first-child, .display tbody .client1 td:nth-child(2) {
		display:none;
	}

	.client  thead tr th:first-child{
		display:none;
	}
	.w3-dropdown-content{
		right: 0;
	}
}

.padding_8_16{
	padding: 8px 16px!important;
}

@media only screen and (max-width: 1200px) {
	.padding_8_16{
		padding: 8px 2px!important;
	}
	
	.side, .Jmain {
		padding: 10px 15px;
	}
}
	
	
@media only screen and (max-width: 1650px) {
	.Jsearch2 {
		position: relative;
		bottom: 5px;
		top: 0;
		right: 0;
	}
}

.dataTables_filter, .dataTables_length {
	display:none;
}
.w3-row a {
	text-transform:uppercase;
	font-size: 10px;
	line-height: 11px;
	color: rgb(125,125,125);
	font-family: "Montserrat";
	font-weight: bold;
	text-align:center;
}