/*      CSS admin  */

* {
		padding:0;
		margin:0;
		box-sizing: border-box;
}

html {
	font-family: "Lato", sans-serif;
	font-size:16px;
}

/* Fixed sidenav, full height */
.sidenav {
	height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
	padding: 6px 8px 6px 20px;
    text-decoration: none;
    font-size: 0.75rem;
	background-color: #1a1a1a;
    color: #818181;
    display: block;
    transition: 0.3s;
	border:none;
}

.sidenav p a {
	font-size: 0.88rem;
	padding: 6px 8px 6px 20px;
}

.dropdown-btn {
	font-size: 0.88rem;
}

.dropdown-container a {
	padding: 6px 8px 6px 20px;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
	color: #f1f1f1;
}

/* Main content */
.main {
	font-size: 0.88em; /* Increased text to enable scrolling */
	padding: 0 15px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
	margin-top:-5px;
}

#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* Add an active class to the active dropdown button */
.active {
	color: orange;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
	display: none;
	background-color: #1a1a1a;
	padding-left: 16px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
	float: right;
	padding-left: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 0.94em;}
	.sidenav a {font-size: 1.13em;}
}

#duplico {
	color: #ff6600;
	font-size: 1.25em;
}

.navbar-right {
	color: #818181;
	padding-top: 13px;
	list-style-type: none;
}

.navbar a {
	color: #818181;
}

#input2 {
	background-color:#262626;
	color:#ff6600;
}

th {
	text-align: center;
	font-weight: normal;
	font-size: 0.66rem;
}

#button {
	font-size: 0.75rem;
}

.button {
	font-size: 0.88rem;
}

.tabcontent, a {
	overflow: auto;
}

input {
	font-size:0.75rem;
}

option {
	font-size:0.75rem;
}

.sidenav img {
	width: 80%;
	margin:auto;
}

.navbar #open, .sidenav #close {
	color: white;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container-fluid .logo, .container-fluid span  {
	display: inline;
	float:left;
	width:33.3%;
}

.container-fluid .logo img {
	width:150px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding: 5px;
}

.navbar-header li a i {
	padding-right: 10px;
	font-size: 1rem;
}

.priprema table{
	width: auto%;
	margin:auto;
	height:auto;
	font-size: 0.88rem;
}
.priprema table tr, .priprema table td{
	margin:10px;
	padding:10px;
	height:auto;
}