/*  CSS Index */

.body {
	background-color: #262626;
}

section{
	display:block;
	margin:-20px auto 20px 0;
	position: relativ;
	width: 100%;
	box-sizing: border-box;
}

.head {
	height: 500px;
	overflow: hidden;
}

.head img {
	width:100%;
}

.login p {
	position:absolute; 
	color: #ff8533;
	font-size: 2.5rem;
	top: 10%;
	transform: translateY(-50%);
	text-shadow: 0 0 10px black;
}

.login button {
	top: 15%;
	width: 150px;
	height: 40px;
	position:absolute; 
	background-color: #e85c00;
	border: solid 3px #d9d9d9;
	color: #d9d9d9;
}

.login button:hover {
	color: #e85c00;
	background-color: #d9d9d9;
}

button a {
	text-decoration: none;
}

footer section{
	width:750px;
	margin: auto;
	padding-top:20px;
}

footer article {
	float:left;
	color:#bfbfbf;
	width:33%;
	font-size:1.25rem;
}

footer article ul {
	list-style:none;
}

footer article ul a {
	color:#bfbfbf;
}

footer article ul a:hover {
	color:white;
	text-decoration:none;
	cursor: pointer;
}
