/* CSS preparation*/

table {
	box-sizing: border-box;
	width:100%;
	font-size: 0.75rem;
	margin: 20px;
	padding: 20px;
}

.status th, .status td{
	padding: 10px;
	border: solid 1px #ccc;
}

.status th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    border-bottom: solid 1px #ccc;
}

.status .bord-bott {
	border-bottom: solid 1px black;
}

.status .bord-rght {
	border-right: solid 1px black;
}

td {
	text-align:center;
}

.rok {
	min-width: 100px;
}