/*      CSS production   */
/* Style the tab */

section {
	width:100%;
	padding:10px;
}

section .addEnc h2 {
	padding: 10px 0;
}

section .addEnc > button {
	font-size: 0.56rem;
	color: rgb(125,125,125);
	font-weight: bold;
	text-transform:uppercase;
	float:right;
	width: 146px;
	height: 35px;
	border-radius: 3px;
	background-color: #f2f2f2;
	border: 1px solid #7d7d7d;
}
section .addEnc button a{
	width:100%;
	height:100%;
	display:block;
	padding: 10px 0;
	text-decoration:none;
}

.tab {
	width:100%;
	overflow: hidden;
	position: relative;
	margin-bottom:30px;
}

.tab1 {
	width: 20%;
	height: 100%;
	position: absolute;
}

.tab4{
	width: 79%;
	float:left;
	margin-left: 21%;
}

.tab2 {
	width: 100%;
	float:left;
	padding: 10px 0;
}

section h2 {
	margin-bottom:20px;
}

.tab1 img {
	width:100%;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tab1, .tab2 {
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
	background-color: #ffffff;
	letter-spacing: 0px;
	line-height: 13px;
	color: rgb(125,125,125);
	font-weight: 800;
}


/* Style the tab content */
.Jcontent {
	padding: 6px 12px;
	border-radius: 5px;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
	background-color: #ffffff;
	float:left;
	font-size: 0.75rem;
	color: rgb(125,125,125);
	width:100%;
	margin-top:10px;
}

.Jcontent p, .Jcontent span{
	margin:0;
	padding:0;
}

.Jcontent p {
	text-transform: uppercase;
	font-weight: bold;
}

.Jcontent .cont1 {
	width: 20%;
	float:left;
	padding:5px;
}

.Jcontent span {
	margin-bottom:10px;

	display:block;
}

.Jtab {
	float:left;
	width: 25%;
	border-right: 1px solid #dbe1e5;
	padding: 10px;
}

.Jtab:last-child{
	border-right: none;
}

.Jtab .icons {
	margin-bottom:10px;
}

.Jtab .icons span {
	float:left;
}

.Jtab .icons i {
	float:right;
	margin-left:5px;
}

.ellipseR {
	width: 18px;
	height: 18px;
	border-radius: 9px;
	background-color: #e94f4f;
}

.ellipseG{
	width: 18px;
	height: 18px;
	border-radius: 9px;
	background-color: #1dc511;
}

.ellipseO{
	width: 18px;
	height: 18px;
	border-radius: 9px;
	background-color: #ff9500;
}

/* Style the buttons inside the tab */
.Jtab p {
	background-color: inherit;
	float: center;
	border: none;
	outline: none;
	width: 100%;
	transition: 0.3s;
	font-size: 0.75rem;
	text-transform: uppercase;
	text-align:left;
}


.Jtab p span {
	display:block;
	font-weight: normal;
	font-size: 0.69rem;
}

table {
	font-size: 0.75rem;
	width:100%;
}

.btn {
	width: 150px;
	margin: auto;
}

table {
	width:auto;
}

tr th {
	border-bottom: 1px solid #b3b3b3;
}

.naslov {
	margin-bottom: 20px;
}

.naslov p {
	font-weight:bold;
	font-size: 0.88rem;
}

.padd1 td {
	padding: 15px;
	font-size:0.75rem
}

.butt {
	width: 200px;
	margin: 5px;
	padding: 10px;
	background-color: #e6e6e6;
	border: solid 1px #b3b3b3; 
	border-radius:5px;
}

.butt:hover {
	background-color: white;
	font-weight:bold;
	color: #e64d00;
}

.date {
	padding: 5px;
	border: solid 1px #bfbfbf; 
	border-radius:5px;
	text-align: center;
	font-size: 0.88rem;
	margin-left: 20px;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 415px) {
  .tab1, .tab4, .tab1, .Jtab {
		width:100%;
		float:none;
		display:block;
	}
	.tab2, .Jcontent {
		font-size: 0.63rem;
	}
	.Jcontent .cont1{
		width:100%;
		float:none;
	}
}
.modal{
	width:100%;
	max-height: 550px;
	margin:auto;
	padding:0;
}

.modal-dialog {
	width: 647px;
	height: 459px;
	margin:auto;

	border-radius: 3px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
	background-color: #ffffff;
	padding:0;
}
.modal-content {
	width: 647px;
	height: 459px;
	margin:0;
	padding:0;
	position:relative;
}
.modal-body {
	width:100%;
	height: 100%;
}

.Jbtn-next{
	width: 111px;
	height: 32px;
	border-radius: 3px;
	background-color: white;
	border: 2px solid #7d7d7d;
	position:absolute;
	right:25px;
	bottom:25px;
	text-transform:uppercase;
}

.Jbtn-next a {
	display:black;
	margin:-20px 0;
}


.Jbtn-close {
	position:absolute;
	right:20px;
	height:45px;
	top:0;
	color: rgb(125,125,125);
	background-color: white;
	border:none;
	font-size:45px;
	font-weight:100;
	font-family: 'Montserrat', sans-serif;
}

.Jsubmit{
	width: 111px;
	height: 32px;
	border-radius: 3px;
	background-color: white;
	border: 2px solid #7d7d7d;
	position:absolute;
	right:25px;
	bottom:25px;
	text-transform:uppercase;
}

.Jbtn-back{
	font-size: 13px;
	letter-spacing: 0px;
	line-height: 35px;
	color: rgb(125,125,125);
	font-family: "Roboto";
	font-weight: bold;
	text-align: center;
	border:none;
	position:absolute;
	right:135px;
	bottom:10px;
	text-decoration:underline;
	background-color: white;
	text-transform:uppercase;
	margin: 0 40px 5px 0 ;
}